.desktop-grid {
    width: 92%;
    height: 88vh;
    margin: auto;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.2fr 1fr;
    gap: 30px;
}

/* generic window style */
.window {
    background: white;
    border-radius: 14px;
    box-shadow: 0 25px 60px rgba(104,59,44,0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* positioning in grid */
.main-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    /* min-height: 700px;
    max-height: 1000px;
    width: 60%; */
}

.folders {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    /* min-height: 700px;
    max-height: 1000px;
    width: 40%; */
}

.music {
    background-color: #1F1F1F;
    grid-column: 1 / 2;
    grid-row: 2 / 3;
    /* min-height: 352px;
    max-height: 500px;
    width: 40%; */
}

.quotes {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    /* min-height: 352px;
    max-height: 500px;
    width: 60%; */
}

.quote-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.quote-content {
    flex: 1;
    text-align: center;
    font-family: "Dancing Script", cursive;
    color: #693B2C;
}

#quoteText {
    font-size: 26px;
    line-height: 1.6;
    margin-bottom: 15px;
}

#quoteAuthor {
    font-size: 16px;
    opacity: 0.7;
}

.arrow {
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    user-select: none;
    transition: 0.2s;
}

.arrow:hover {
    transform: scale(1.2);
}

/* top dots */
.quote-dots {
    display: flex;
    gap: 6px;
}

.quote-dots span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #e5aab8;
}

.quote-dots .active {
    background: #693B2C;
}


.music:hover {
    cursor: url("../img/cursor1.png") 4 4, auto;
}

/* folder list */
.folder-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

    gap: 22px;
    padding: 20px;
    justify-content: start;
    justify-items: center;
}

.folder-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 8px;
    padding: 10px;
    border-radius: 10px;
    cursor: url("../img/cursor1.png") 4 4, auto;
    transition: 0.2s;
    width: 100%;
}

.folder-item span {
    font-size: 13px;
    color: #693b2c;
}

.folder-item:hover {
    transform: translateY(-4px) scale(1.05);
    cursor: url("../img/cursor1.png") 4 4, auto;
}

.file-explorer-folder {
    width: 50px;
}
/* top bar of file explorer */
.explorer-topbar {
    height: 28px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

/* back button style */
.back-btn {
    font-size: 13px;
    color: #693B2C;
    cursor: pointer;
    user-select: none;
}

.back-btn:hover {
    text-decoration: underline;
}
