.desktop-grid {
    width: 92%;
    height: 88vh;
    margin: auto;

    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1.2fr 1fr;
    gap: 30px;
}

/* generic window style */
.window {
    background: white;
    border-radius: 14px;
    box-shadow: 0 25px 60px rgba(104,59,44,0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

/* positioning in grid */
.main-content {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}

/* .folders {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
} */

.quotes {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.music {
    background-color: #1F1F1F;
    grid-column: 2 / 3;
    grid-row: 2 / 3;
}

.music:hover {
    cursor: url("../img/cursor1.png") 4 4, auto;
}

/* folder list */
.folder-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

    gap: 22px;
    padding: 20px;
    justify-content: start;
    justify-items: center;
}

.folder-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 8px;
    padding: 10px;
    border-radius: 10px;
    cursor: url("../img/cursor1.png") 4 4, auto;
    transition: 0.2s;
    width: 100%;
}

.folder-item span {
    font-size: 13px;
    color: #693b2c;
}

.folder-item:hover {
    transform: translateY(-4px) scale(1.05);
    cursor: url("../img/cursor1.png") 4 4, auto;
}

.file-explorer-folder {
    width: 50px;
}