.desktop-page {
    width: 92%;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    gap: 60px;
}

/* each horizontal band */
.row {
    display: flex;
    gap: 40px;
    align-items: flex-start;
}

/* generic window style */
.window {
    background: white;
    border-radius: 14px;
    box-shadow: 0 25px 60px rgba(104,59,44,0.25);
    overflow: hidden;
    display: flex;
    flex-direction: column;

}

.browser-content {
    overflow-y: auto;
    flex: 1;
}

@media (max-width: 1000px) {
    .row {
        flex-direction: column;
    }
}

/* FIRST ROW proportions */
.main-content { 
    flex: 6;
    min-height: 350px;
    max-height: 700px;
}  /* 60% */

.folders { 
    flex: 4; 
    min-height: 200px;
    max-height: 500px;
}  /* 40% */

/* SECOND ROW proportions */
.quotes { 
    flex: 5;
    min-height: 200px;
    max-height: 300px;
}        /* 50% */

.music  { 
    background-color: #1F1F1F;
    flex: 5;
    height: 250px;
}        /* 50% */

/* whole fake browser header */
.browser-ui {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #e6a8b7;
}

/* TABS ROW */
.tabs-bar {
    display: flex;
    align-items: center;
    background: #f3c1cf;
    padding: 6px 10px;
    gap: 8px;
}

.tab {
    background: #ffdce6;
    padding: 6px 14px;
    border-radius: 10px 10px 0 0;
    font-size: 13px;
    opacity: 0.7;
    color: rgb(104, 59, 44, 0.75);
}

.tab.active {
    background: white;
    opacity: 1;
    font-weight: 600;
    color: #693B2C;
}

.window-actions {
    margin-left: auto;
    display: flex;
    gap: 6px;
}

/* ADDRESS ROW */
.address-bar {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 8px 12px;
    background: #ffdce6;
    border-top: 1px solid #e6a8b7;
}

.nav-buttons span {
    margin-right: 8px;
    font-size: 14px;
    color: #693B2C;
}

.search-bar {
    flex: 1;
    background: #f8f8f8;
    padding: 6px 12px;
    border-radius: 20px;
    font-size: 13px;
    color: rgb(105, 59, 44, 0.75);
}

.right-icons span {
    font-size: 16px;
    color: #693B2C;
}


.quote-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    padding: 20px;
}

.quote-content {
    flex: 1;
    text-align: center;
    font-family: "Dancing Script", cursive;
    color: #693B2C;
}

#quoteText {
    font-size: 26px;
    line-height: 1.6;
    margin-bottom: 15px;
}

#quoteAuthor {
    font-size: 16px;
    opacity: 0.7;
}

.arrow {
    font-size: 28px;
    cursor: pointer;
    padding: 10px;
    user-select: none;
    transition: 0.2s;
}

.arrow:hover {
    transform: scale(1.2);
}

/* top dots */
.quote-dots {
    display: flex;
    gap: 6px;
}

.quote-dots span {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #e5aab8;
}

.quote-dots .active {
    background: #693B2C;
}


.music:hover {
    cursor: url("../img/cursor1.png") 4 4, auto;
}

/* folder list */
.folder-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));

    gap: 22px;
    padding: 20px;
    justify-content: start;
    justify-items: center;
}

.folder-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    gap: 8px;
    padding: 10px;
    border-radius: 10px;
    cursor: url("../img/cursor1.png") 4 4, auto;
    transition: 0.2s;
    width: 100%;
}

.folder-item span {
    font-size: 13px;
    color: #693b2c;
}

.folder-item:hover {
    transform: translateY(-4px) scale(1.05);
    cursor: url("../img/cursor1.png") 4 4, auto;
}

.file-explorer-folder {
    width: 50px;
}
/* top bar of file explorer */
.explorer-topbar {
    height: 10px;
    display: flex;
    align-items: center;
    padding-left: 8px;
}

/* back button style */
.back-btn {
    font-size: 13px;
    color: #693B2C;
    cursor: url("../img/cursor1.png") 4 4, auto;
    user-select: none;
}

.back-btn:hover {
    text-decoration: underline;
    cursor: url("../img/cursor1.png") 4 4, auto;
}
